:root {
  --palette-bright: hsl(0, 0%, 100%);
  --palette-shade-light: hsl(212, 45%, 89%);
  --palette-shade-medium: hsl(220, 15%, 55%);
  --palette-dark: hsl(218, 44%, 22%);
  --palette-interactive: hsl(228, 45%, 44%);

  --screen-break-sm: 375px;
  --screen-break-lg: 1440px;
}

html {
  font-size: 10px;
  color: var(--palette-dark);
}

body {
  margin: 0;
  background-color: var(--palette-shade-light);
  font-size: 1.5rem;
  font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: var(--palette-interactive);
}
